@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 214, 219, 220;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(to bottom, transparent, rgb(var(--background-start-rgb))) rgb(var(--background-end-rgb)); */
  background: rgb(var(--background-start-rgb));
}

@layer components {
  .section-heading {
    @apply text-base font-medium uppercase dark:text-white/70;
  }
  .card {
    @apply block space-y-2 rounded-md border border-slate-200 bg-white p-6 pt-5 shadow-md shadow-black/10 transition duration-300 hover:bg-slate-100 hover:shadow-lg hover:shadow-black/20 dark:border-gray-200 dark:bg-black/5 dark:shadow-white/10 dark:hover:bg-white/10 dark:hover:shadow-white/20
  }
}
